root = true


[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab

[{*.yml, *yaml}]
indent_style = space
tab_width = 2

[*.sql]
indent_style = space
tab_width = 4
